<!-- src/main/resources/templates/posts/card.html -->
<div class="card h-100" th:fragment="postCard (post)">
  <div
    class="card-body"
    style="cursor: pointer"
    th:attr="data-bs-target='#postModal' + ${post.id}"
    data-bs-toggle="modal"
  >
    <h5 class="card-title border-bottom pb-2" th:text="${post.title}">
      Sample Title
    </h5>
    <p class="card-text" th:text="${post.description}">
      Sample description goes here...
    </p>
    <div class="category" th:if="${post.category}">
      카테고리: <span th:text="${post.category.name}"></span>
    </div>
    <div class="tags" th:if="${not #lists.isEmpty(post.tags)}">
      태그:
      <span
        th:each="tag : ${post.tags}"
        class="tag"
        th:text="${tag.name}"
      ></span>
    </div>
  </div>
</div>
